{% extends "tasks/base.html" %}


{% block content %}



    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptate cum nam sunt fugiat fugit non ratione esse, 
                consectetur consequatur officia veritatis ex, 
                adipisci quasi iusto vitae cumque at vel ipsam iste. 
                Sunt aliquid vitae maxime officia nam quas dolores dicta expedita ex, 
                ipsa dolor ratione mollitia reprehenderit, 
                recusandae laudantium earum minus esse quod qui obcaecati cupiditate deleniti! Explicabo, 
                soluta sunt quod perferendis ipsa voluptates unde vero est quas dolores quo expedita deserunt optio earum dolorum maxime non delectus sequi, 
                blanditiis eveniet sed, molestiae ullam. 
                Reprehenderit error doloribus labore odit provident accusantium inventore nam laborum temporibus dolore 
                quibusdam, voluptas ducimus magnam.</p>

                <div class="text-center">
                    <a class="btn btn-secondary" href="/signin/">
                        Signin
                    </a>
                    <a class="btn btn-dark" href="/signup">
                        Signup
                    </a>
                </div>
              

        </section>
    </main>
    
    
{% endblock %}